<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/style.css" />
        <title>Attente</title>
    </head>

    <body>
      <h1>Faut-il aller au urgences ?</h1>

      
      <h1>L'individu concerné...</h1> 
       
      <p class="decision">est inconscient</p>
      <p class="decision">est malade</p>
      <p class="decision">a eu un addicent</p>
      <p class="decision urgence">Je pars aux urgences</p>
    </body>
</html>
