<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/style.css" />
        <title>Attente</title>
    </head>

    <body>
      <h1>Votre temps d'attente estimé*</h1>

        <div id="round_timer">
            <p id="time">341 <br \>min</p>
        </div>
	
        <p id="disclaim">*L'ordre de passage peut varier selon l'appréciation des médecins et les aléas des urgences.</p>
      <h1>Avancé de votre parcours patient</h1>
      <h1>Votre file d'attente</h1> 
        <div class="box">
          <div class="title"><p><span id="nbr"><%= NBPers %></span> patients devant vous</p></div>
          <div id="prio_info">
			  <p id="priority">Vous êtes de priorité <%= Type %> </p><p id="i">i</p>
          </div>
          <div id="in_box_file">
            <figure><img src="picto-22.svg" height="300px" /></figure>
            <div class="lil_man blue"></div>
            <div class="lil_man green"></div>
            <div class="lil_man green"></div>
            <div class="lil_man green"></div>
            <div class="lil_man orange"></div>
            <div class="lil_man orange"></div>
            <div class="lil_man orange"></div>
            <div class="lil_man orange"></div>
            <div class="lil_man red"></div>
            <div class="space"></div>
            <div class="doc_man"></div>
          </div>
	</div>

    <div class="box">
      <div class="title"><p>Autour de moi</p></div>
      <div>
        <div id="plan"></div>
        <hr />
        <p>Où prendre un café ?</p>
        <hr />
        <p>Où se restaurer ?</p>
      </div>
    </div>
      
    <div class="box">
      <div class="title"><p>Plan de l'hôpital</p></div>
      <div>
        <div id="plan"></div>
      </div>
    </div>
      
    <div class="box">
      <div class="title"><p>Infos santé</p></div>
      <div>
        <p>Fracture</p>
        <hr />
        <p>Plaie</p>
        <hr />
        <p>Virus</p>
      </div>
    </div>
    
      
      
  <div id="popup" onclick="myFunction()">Click me!
    <span class="popuptext" id="myPopup">Popup text...</span>
  </div>
      
  <div id="modal" ></div>
      
    <!-- SCRIPT JAVASCRIPT -->  
      <script type="text/javascript">
        // Set the date we're counting down to
        var countDownDate = new Date("Sep 5, 2018 15:37:25").getTime();
        
        // Update the count down every 1 second
        var x = setInterval(function() {
          
          // Get todays date and time
          var now = new Date().getTime();
          
          // Find the distance between now an the count down date
          var distance = countDownDate - now;
          
          // Time calculations for days, hours, minutes and seconds
          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);
          
          // Display the result in the element with id="demo"
          document.getElementById("time").innerHTML = hours + "h "
            + minutes + "m " + seconds + "s ";
          
          // If the count down is finished, write some text 
          if (distance < 0) {
            clearInterval(x);
            document.getElementById("time").innerHTML = "EXPIRED";
          }
        }, 1000);
        
        
        // Afficher Popup
        document.getElementById("i").addEventListener("click", function()
            {
              document.getElementById("popup").classList.add("print_popup")
              document.getElementById("modal").classList.add("print_modal")
            })
        // Efface Popup
        document.getElementById("modal").addEventListener("click", function()
            {
              document.getElementById("popup").classList.remove("print_popup")
              document.getElementById("modal").classList.remove("print_modal")
            })

      </script>
    </body>
</html>
