body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}


p {
    text-align: center;
}

#round_timer
{
  border-radius:50%;
  width: 50vw;
  height: 50vw;
  border: 5vw solid green; 
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#time
{
  font: 10vw bold;
  font-family: sans-serif;
  text-align: center;
}