body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#round_timer
{
  border-radius:50%;
  width: 50vw;
  height: 50vw;
  border: 5vw solid #679403; 
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#time
{
  font: 10vw bold sans-serif;
}