body
{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;    
}

h1 {
  font-size: 3em;
  text-align: center;
}

p {
  text-align: center;
  font-size: 2em;
  width: 85vw;
}

#round_timer
{
  border-radius:50%;
  width: 50vw;
  height: 50vw;
  border: 5vw solid green; 
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#time
{
  font: 10vw bold;
  font-family: sans-serif;
  text-align: center;
}

#disclaim
{
  font-style: italic;
}

.box
{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: solid grey 0.5px;
  box-shadow: 0px 3px 5px grey;
  margin-bottom: 5vw;
}


.decision
{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  border-radius: 30px;
  border: solid grey 0.5px;
  box-shadow: 0px 3px 5px grey;
  margin-bottom: 5vw;
  
  height: 20vw;
  line-height: 20vw;
  font-size: 3em;
  font-weight: bold;
}

.urgence
{
  border: solid red 10px;
  border-radius: 200px;
  background-color: red;
  color: white;
}

.box p
{
  align-self: flex-start;
  font-size: 3em;
  text-align: left;
  margin: 2.5vw;
}

.title
{
  align-self: stretch;
  background: lightgrey;
  border-radius: 10px 10px 0px 0px;
  font-weight: bold;
  text-align: left;
  color: black;
}

#nbr
{
  font-size: 2em;
  color: royalblue;
}

#prio_info
{
  width: 85vw;
  display: flex;
}

#priority
{
  display: flex;
  align-items: stretch;
  font-weight: bold;
  color: royalblue;
}

#i {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  
  background: royalblue;
  color: white;
  text-align: center;
  font: 32px, serif;
}

.title p
{
  font-style: normal;
}

#plan
{
  background-image: url(Plan-LRB-2012.png);
  height: 40vw;
}

#in_box_file
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 85vw;
  height: 10vw;
  margin: 2vw
}

.lil_man
{
  width: 200px;
  margin-right: 10px;
  border-radius: 10px;
}

.red
{
  background-color: red;
}

.orange
{
  background-color: orange;
}

.green
{
  background-color: darkseagreen;
}

.blue
{
  background-color: royalblue;
}
.space
{
  width: inherit;
}

.doc_man
{
  width: 200px;
  background-color: aqua;
  border-radius: 10px;
}